{% extends "nxapp/base.html" %}

{% load static %}

{% block content %}
  <!-- Intro-->
  <div style="
background: rgb(87,92,153);
background: linear-gradient(90deg, rgba(87,92,153,1) 12%, rgba(22,196,196,1) 51%, rgba(246,64,191,1) 100%);"
id="firstSection">
    <section class="d-flex align-items-center position-relative bg-size-cover bg-position-center min-vh-100 overflow-hidden pt-6 pb-lg-5">
    <div class="container-fluid pt-4 pb-5 py-lg-5">
      <div class="row align-items-center py-3">
        <div class="col-xl-6 col-lg-5 d-flex justify-content-end">
          <div class="pt-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center text-lg-start" style="max-width: 495px;">
            <h1 class="display-4 text-dark pb-2">Increase <span class="fw-light">your portential with our vastly set of services..</span></h1>
            <p class="h4 fw-light text-dark opacity-70 line-height-base">Web3, Solidity, smart contracts and web API's develompent and design</p><a class="d-inline-flex align-items-center text-decoration-none pt-2 mt-4 mb-5" href="#more" data-scroll><span class="btn btn-icon rounded-circle border-light flex-shrink-0 px-3">
              <i class="ai-arrow-down h4 text-light my-1"></i></span><span class="ms-3 text-light fw-medium">Take a look!</span></a>
            <hr class="hr-light mt-0 mb-5">
            <div class="row">
              <div class="col-sm-4 mb-4 mb-sm-0">
                <div class="h1 text-dark mb-1">8</div>
                <div class="h5 text-dark fw-normal opacity-70 mb-2">Strategies</div><span class="badge rounded-pill bg-success">More coming soon!</span>
              </div>
              <div class="col-sm-4 mb-4 mb-sm-0">
                <div class="h1 text-dark mb-1">20+</div>
                <div class="h5 text-dark fw-normal opacity-70 mb-1">Clientes satisfechos</div>
              </div>
              <div class="col-sm-4">
                <div class="h1 text-dark mb-1">5+</div>
                <div class="h5 text-dark fw-normal opacity-70 mb-1">Services</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="parallax ms-lg-n5" style="max-width: 920px;">
            <div class="parallax-layer position-relative" data-depth="0.1"><img src='{% static "Around/dist/img/demo/presentation/intro/3.png" %}' alt="Layer"></div>
            <div class="parallax-layer1" style="z-index: 4;" data-depth="0.25"><img src='{% static "Around/dist/img/demo/presentation/intro/7.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.3"><img src='{% static "Around/dist/img/demo/presentation/intro/9.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.1"><img src='{% static "Around/dist/img/demo/presentation/intro/10.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.2"><img src='{% static "Around/dist/img/demo/presentation/intro/5.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.4"><img src='{% static "Around/dist/img/demo/presentation/intro/6.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.5"><img src='{% static "Around/dist/img/demo/presentation/intro/4.png" %}' alt="Layer"></div>
            <div class="parallax-layer" data-depth="0.6"><img src='{% static "Around/dist/img/demo/presentation/intro/8.png" %}' alt="Layer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Whycryptoassets-->
  <section class="py-5 py-md-6 py-lg-7" id="more">
    <div class="container pb-3 pt-4 pb-lg-2">
      <h2 class="h1 mb-4 text-lg-start">The best wat to make your <span class='bg-info rounded-pill text-light px-3 py-2'>Web3</span> proyects a reality!</h2>
      <p class="text-muted text-lg-start">En el año 2020, se vivió un momento histórico en las finanzas, más compañías operando comenzaron a colocar su efectivo en activos digitales y criptomonedas. Un ejemplo son MicroStrategy y Tesla con  mas $1B USD cada una en sus balances.</p>
      <p class="text-muted text-lg-start">Más empresas les han seguido los pasos, y muchas otras más se preguntan cómo invertir en activos digitales. Existe una variedad de razones para añadir estos activos en el balance de tu compañía, ya sea buscar una compensación de riesgo retorno para los años anteriores o como una cobertura natural contra la inflación o fluctuación de las monedas fiat.</p>
      <p class="text-muted text-lg-start">Desde una estrategia corporativa para la adopción de tecnologías abiertas e innovadoras, hasta una estrategia operacional que incluye la aceptación de activos digitales en los sistemas de pago.</p>
      <div class="row justify-content-center mb-4 pb-2">
        <div class="col-xl-6 col-lg-7 col-md-8">
      </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <ul class="nav nav-tabs media-tabs justify-content-center justify-content-lg-start" role="tablist">
            <li class="nav-item mb-3" style="width: 16.5rem;"><a class="nav-link me-2 active" href="#estructura" data-bs-toggle="tab" role="tab">
                <div class="d-flex align-items-center"><img class="rounded" src='{% static "Around/dist/img/demo/presentation/icons/user.svg" %}' alt="User Account" width="60">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fs-sm pe-1">Web3 implementation <h6 class="fs-sm pe-1">DAO, DAPP <br>& PAYMENTS</h6></div><i class="ai-chevron-right lead ms-2 me-1"></i>
                    </div>
                  </div>
                </div></a></li>
            <li class="nav-item mb-3" style="width: 16.5rem;"><a class="nav-link me-2" href="#contabilidad" data-bs-toggle="tab" role="tab">
                <div class="d-flex align-items-center"><img class="rounded" src='{% static "Around/dist/img/demo/presentation/icons/forms.svg" %}' alt="Portfolio" width="60">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fs-sm pe-1">Smart Contracts</div><i class="ai-chevron-right lead ms-2 me-1"></i>
                    </div>
                  </div>
                </div></a></li>
            <li class="nav-item mb-3" style="width: 16.5rem;"><a class="nav-link me-2" href="#tesoreria" data-bs-toggle="tab" role="tab">
                <div class="d-flex align-items-center"><img class="rounded" src='{% static "Around/dist/img/demo/presentation/icons/portfolio.svg" %}' alt="E-Commerce" width="60">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fs-sm pe-1">NFT, marketplaces <br>&amp; Design!</div><i class="ai-chevron-right lead ms-2 me-1"></i>
                    </div>
                  </div>
                </div></a></li>
            <li class="nav-item mb-3" style="width: 16.5rem;"><a class="nav-link me-2" href="#seguridad" data-bs-toggle="tab" role="tab">
                <div class="d-flex align-items-center"><img class="rounded" src='{% static "Around/dist/img/demo/presentation/icons/web-page.svg" %}' alt="Secondary Pages" width="60">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fs-sm pe-1">Web development, E-Commerce, CRM, ERP and more</div><i class="ai-chevron-right lead ms-2 me-1"></i>
                    </div>
                  </div>
                </div></a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="estructura">
              <div class="row text-center text-sm-start">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <h3 class="h5 mb-4">Web3 implementation <h6 class="fs-sm pe-1">DAO, DAPP & PAYMENTS</h6></h3>
                </div>
              <p class="text-muted text-lg-start">Cualquier inversión en activos digitales presenta retos más allá de la operación y problemas técnicos relacionados a tesorería, contabilidad y reportes fiscales.</p>
              <p class="text-muted text-lg-start">Una inversión en activos digitales representa un reto de alineación cultural dentro y fuera de tu organización, entre los diferentes grupos y departamentos como la mesa directiva, los auditores, finanzas, operación, mesa de control, tesorería.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="contabilidad">
              <div class="row text-center text-sm-start">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <h3 class="h5 mb-4">smart contacts</h3>
                </div>
                <p class="text-muted text-lg-start">El tratamiento contable y fiscal para las organizaciones que utilizan activos digitales depende de muchas variables, pero en general, estos puntos te ayudaran a plantear las preguntas iniciales que a tu organización le interesa responder antes de tomar el siguiente paso.</p>
                <ul class="">
                  <li class="text-muted">Usar activos digitales tiene grandes ventajas para el manejo de costos, inventarios y cashflow, sin embargo la utilización de cada una depende de los objetivos principales de cada organización.</li>
                  <li class="text-muted">El uso de estos activos podrían presentar un reto en el cálculo de su valor razonable de acuerdo al uso que se le dará al activo digital.</li>
                  <li class="text-muted">La custodia de los activos digitales es un tema importante para la empresa por definir.</li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="tesoreria">
              <div class="row text-center text-sm-start">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <h3 class="h5 mb-4">NFT, marketplaces &amp; Design!</h3>
                </div>
                <p class="text-muted text-lg-start">La principal razón de tesorería sería el control de riesgos y la preservación del valor del capital , cuando se decide invertir en activos digitales, la empresa enfrenta grandes retos en la gobernanza y los lineamientos marcados por las estrategias financieras particulares de la organización.</p>
                <p class="text-muted text-lg-start">Dada la naturaleza de los activos digitales se necesita que todos los involucrados tengan un entendimiento claro de la tecnología blockchain y el perfil de riesgo de dicho activo.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="seguridad">
              <div class="row text-center text-sm-start">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <h3 class="h5 mb-4">Web development, E-Commerce, CRM, ERP and more</h3>
                </div>
                <p class="text-muted text-lg-start">Distinguir los objetivos de esta incursión al mundo de los activos digitales es de vital importancia debido a que existen diferentes maneras de manejar y almacenar estos activos digitales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Why Us?-->
  <section class="bg-faded-dark py-5 py-md-6 py-lg-7">
    <div class="container py-3 py-lg-4">
      <div class="row align-items-center">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="mx-auto mx-md-0" style="max-width: 525px;"><img class="rounded-3" src='{% static "Around/dist/img/demo/presentation/mobile-screens4.png" %}' alt="Mobile screens"></div>
        </div>
        <div class="col-md-6 text-center text-md-start">
          <h2 class="h1 mb-4"><span class='bg-faded-dark rounded text-dark px-3 py-2'>Why choose us?</span></h2>
          <p class="text-muted mb-5"></p>
          <div class="d-flex align-items-center justify-content-center justify-content-md-start">
            <div class="text-primary h4 text-info">Conoce más ...</div>           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQS-->
  <section class="container py-5 py-md-6 py-lg-7" id="faqs">
    <div class="text-center mb-5 pt-3 pt-lg-4">
      <h2 class="h1"><span class='btn-translucent-warning rounded px-3 py-2'>FAQ's</span></h2>
    </div>
    <div class="row pt-3 pt-lg-4">
      <div class="col-md-6">
        <div class="d-flex mb-4 pb-2"><i class="ai-alert-circle h4 text-success"></i>
          <div class="ps-3">
            <h3 class="h5">¿Qué es un smart-contract?</h3>
            <p class="fs-md mb-0">Los smart-contracts en palabras simples son programas almacenados en una cadena de bloques que se ejecuta cuando ciertas condiciones o parametros son verdaderos. Son usados para la ejecución de algún acuerdo o contrato para que todos los participantes estén seguros del resultado de dicho contrato de manera inmediata sin la necesidad de ningún intermediario o tiempo perdido.</p>
          </div>
        </div>
        <div class="d-flex mb-4 pb-2"><i class="ai-check-circle h4 text-success"></i>
          <div class="ps-3">
            <h3 class="h5">¿Qué es un NFT?</h3>
            <p class="fs-md mb-0">Los NFT son tokens que tienen la caracteristica de ser criptografeados en una cadena de bloques con un código de identificación único e inmutable, con metadata que los distinguen unos de otros. A diferencia de las cripto monedas estos no pueden ser intercambiados con equivaliencia, su valor razonable es más complejo de calcular </p>
          </div>
        </div>
        <h3 class="h5">...más dudas? Contactanos!</h3>
      </div>
    </div>
  </section>
  </div>
 
</main>

<script>

    background = document.getElementById('firstSection');

    window.onscroll = function (e) {
    let y = window.scrollY
    console.log(y); // Value of scroll Y in px
    console.log(background.style.background) // 
    background.setAttribute('style','background: rgb(87,92,153);background: linear-gradient('+y/8+'deg, rgba(87,92,153,1) 12%, rgba(22,196,196,1) 51%, rgba(246,64,191,1) 100%);');

    };

    </script>
{% endblock %}
